@page "/eventsentered"
@using System.Security.Claims
@inject IHttpContextAccessor _context
@inject ISqlCrud _db;
@inject NavigationManager _navigationManager

<h3>Events Entered</h3>

@if(_events is not null)
{
    @foreach(var ev in _events)
    {
        @if(DateTime.Now <= ev.EndDateTime)
        {
            <h2>@ev.Title</h2>
        }
    }
}



@code {
    private List<EventModel> _events;
    private string userId;

    protected async override Task OnInitializedAsync()
    {
        userId = _context.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);
        _events = await _db.GetAllEventsEntered(userId);
    }
}
