@page "/"

<PageTitle>Eventus</PageTitle>
<Animate Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(1)">
    <div class="text-center">
        <h1 id="welcome-text">Welcome!</h1>
    </div>
</Animate>

<div class="row">
    <div class="col-md-6">
        <div class="welcome-page-text-container">
            <Animate Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(1)">
                <p><span class="bold">Eventus</span> helps you organize any kind of event.</p>
            </Animate>
            <Animate Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(1)">
                <div class="text-center">
                    <img src=/angles-down-solid.svg style="height:2rem; width:3rem;"/>
                </div>
            </Animate>
        </div>
    </div>

    <div class="col-md-6">
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(1)">
        <div class="welcome-page-img-container text-center">
            <img src="/celebrating-people.png" class="img-fluid" />
        </div>
        </Animate>
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-center">
        <div class="get-started-button-container">
            <Animate Animation="Animations.FadeDown" Duration="TimeSpan.FromSeconds(1)">
                <button class="btn btn-outline-dark mt-3" id="get-started-button">Get started</button>
            </Animate>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(1)">
            <ul role="list">
                <li>host online events and invite others</li>
                <li>explore events near you</li>
                <li>generate and sell tickets for your event</li>
                <li>completely free</li>
            </ul>
        </Animate>
    </div>
</div>

<style>
    p, h1, li {
        font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    

    p{
        font-size: 2rem;
    }

    #welcome-text {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .welcome-page-text-container{
        margin: 2rem;
    }

    .welcome-page-img-container{

    }

    .get-started-button-container button{
        font-size:1.2rem;
    }

    .bold{
        font-weight: bold;
    }
    .row{
        margin-top: 1rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      gap: 0.2rem;
    }

    li{
        font-size: 1.5rem;
        position: relative;
    }

    ul {
      list-style: none;
    }

    ul li:before {
      content: '✓';
      padding-right: 3px;
    }

    @@media only screen and (max-width: 768px) {
        #get-started-button{
            margin-bottom:2rem;
        }

        #welcome-text {
            font-size: 2rem;
        }

        p{
            font-size: 1.5rem;
        }
    }
</style>
