@page "/"

<PageTitle>Eventus</PageTitle>

<div class="text-center">
    <h1 id="welcome-text">Welcome!</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="welcome-page-text-container">
            <p><span class="bold">Eventus</span> helps you organize any kind of event.</p>
            <div class="text-center">
                <img src="/scroll.png" width="100" height="100"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="welcome-page-img-container text-center">
            <img src="/celebrating-people.png" class="img-fluid" />
        </div>
    </div>
</div>

<style>
    p, h1 {
        font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    p{
        font-size: 2rem;
    }

    #welcome-text {
        font-weight: 700;
        font-size: 2.5rem;
    }

    .welcome-page-text-container{
        margin: 2rem;
    }

    .welcome-page-img-container{

    }

    .bold{
        font-weight: bold;
    }
    .row{
        margin-top: 1rem;
    }
</style>
