@page "/yourevents"
@using System.Security.Claims
@inject IHttpContextAccessor _context
@inject ISqlCrud _db;
@inject NavigationManager _navigationManager

@if(_events is null)
{
    <h1>Loading...</h1>
}
else
{
    <h2 class="text-center">Your Events</h2>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            @foreach(var e in _events)
            {
                <div class="card mt-3">
                    <div class="card-title text-center pt-2">
                        @e.Title
                    </div>
                    <div class="card-body">
                        @if(e.Description is not null)
                        {
                            if(e.Description.Length > 60)
                            {
                                <p>@e.Description.Substring(0, 60)...</p>
                            }
                            else
                            {
                                <p>@e.Description</p>
                            }
                        }
                    </div>
                    <div class="card-footer text-center">
                        <button @onclick="() => NavigateToEvent(e.EventId)" class="btn btn-outline-dark">Details</button>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private List<EventModel> _events;
    private void NavigateToEvent(int id)
    {
        _navigationManager.NavigateTo($"/event/{id}");
    }
    protected override async Task OnInitializedAsync()
    {
        string userId = _context.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);

        _events = await _db.GetEventsByUserId(userId);

    }
}

<style>
    .card{
        height: 12rem;
        background-color: #26A69A;
        border: 1px solid #004D40;
        margin-bottom: 2rem;
    }

    .card-body{
        padding-left: 2rem;
        padding-right: 2rem;
    }
</style>