@page "/yourevents"
@using System.Security.Claims
@inject IHttpContextAccessor _context
@inject ISqlCrud _db;
@inject NavigationManager _navigationManager

@if(_events is null)
{
    <h1>Loading...</h1>
}
else
{
    @foreach(var e in _events)
    {
    <div class="card">
        <div class="card-title">@e.Title</div>
        <div class="card-body">
            @e.Description
        </div>
        <div class="card-footer">
            <button @onclick="() => NavigateToEvent(e.Id)">Details</button>
        </div>
    </div>
    }
}

@code {
    private List<EventModel> _events;
    private void NavigateToEvent(int id)
    {
        _navigationManager.NavigateTo($"/event/{id}");
    }
    protected override async Task OnInitializedAsync()
    {
        string userId = _context.HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier);

        _events = await _db.GetEventsByUserId(userId);

    }
}
